/*  Set default font family of all elements */
* {
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Roboto', sans-serif;
}
html{
  scroll-behavior: smooth;
}
img{
  height: 250px;
  width: 250px;
  border-radius: 135px;
}
h1, h2{
  font-family: 'Montserrat', sans-serif
}
h2{
  color: #007bff;
}
ul{
  list-style: none;
  padding: 0;
}
#landing{
  height: 80vh;
  /*center the elements vertically*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#gallery{
  /*center the elements vertically*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  height: 75vh;/* 75% of available of a device*/
}
.jumbotron{
  background-color: transparent;
}
.tools{
  padding: 25px;
  height: 200px;
  border: 5px solid #f2f2f2;
  margin: 20px;
  width: 75%;
  color: white;
  border-radius: 6px;
}